.App {
  background-image: url('Cardano-RGB_Logo-Icon-FFCB52.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75vh;
  background-color: #282c34;
  color: #ffcb52;
  align-items: center;
  vertical-align: middle;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  cursor: default;
  overflow: clip;;
}

.Group {
  background-color: #ffcc523f;
  border-color: #ffcc520f;
  box-shadow: #ffcc521f 0px 2px 5px 0px;
  text-decoration: none;
  padding-left: 4px;
  padding-bottom: 4px;
  margin: 4px;
}

.ResultOutput {
  color: #dcff52;
}

.Error {
  color: #ff7452;
  white-space: nowrap;
  max-width: 0;
}

.Exception {
  color: #ff7452;
}

pre {
  font-size: calc(4px + 1vmin);
  cursor: text;
}

form {
  width: 715px;
}

table {
  align-self: baseline;
}

td {
  padding: 5px;
}

sub, .subTitle {
  font-weight: bold;
  cursor: pointer;
}

sub:hover, .subTitle:hover {
  text-decoration: underline;
}

input {
  width: 400px;
  font-size: calc(7.5px + 1.5vmin);
  text-indent: 7.5px;
  background-color: #f8e6a8;
  outline-width: 0;
  border-left: 0;
  margin-top: 2.5px;
  margin-right: 5px;
}

input:placeholder-shown {
  text-align: center;
}

button {
  color: #282c34;
  background-color: #ffcc52;
  border-color: #ffcc52;
  box-shadow: #ffcc527f 0px 2px 5px 0px;
  text-decoration: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-size: calc(7.5px + 1.5vmin);
  width: 300px;
}

button:hover:enabled {
  box-shadow: #ffcc52ff 0px 2px 5px 0px;
  text-decoration: underline;
}

button:active:enabled {
  box-shadow: #ffcc523f 0px 2px 5px 0px;
  text-decoration: none;
}

button:disabled {
  background-color: #ffcc527f;
  border-color: #ffcc521f;
  box-shadow: #ffcc523f 0px 2px 5px 0px;
  text-decoration: none;
  cursor: not-allowed;
}
